---
import Layout from '../../../layouts/profilelayout.astro';
import AkselLink from "../../../components/mixed/AkselLink.astro";
---

<Layout name="Kari Nordmann" fnr="23031510135" title="Kari Nordmann (fnr: 23031510135)" description="Profilside Kari Nordmann (fnr: 23031510135)">
    <p class="mb-4 mt-8 font-semibold">Forskjell fra <AkselLink href="/profil/ola-nordmann/24031510135?name=ola-nordmann&fnr=24031510135&utm_source=24031510135&utm_medium=24031510135&utm_campaign=24031510135" text="Ola Nordmann" /></p>
    <p>FNR er i meta name og description formattert slik "23031510135" isteden for "240315 10135".</p>
</Layout>