---
import Layout from '../../../layouts/corelayout.astro';
---

<Layout title="Kari Nordmann (fnr: 23031510135)" description="Profilside Kari Nordmann (fnr: 23031510135)">
    <h1>Profilside for Kari Nordmann</h1>
    <p class="max-w-prose">Dette er profilen til Kari Nordmann med fødselsnummeret 23031510135.</p>
</Layout>