---
import Layout from '../../layouts/profilelayout.astro';
import AkselLink from "../../components/mixed/AkselLink.astro";
---

<Layout name="Produkt med ID" fnr="b062ea46-9cec-4503-982c-943c1734120a" title="Produkt b062ea46-9cec-4503-982c-943c1734120a" description="Produktside b062ea46-9cec-4503-982c-943c1734120a">
    <p class="mb-4 mt-8 font-semibold">Forskjell fra <AkselLink href="/profil/ola-nordmann/24031510135?name=ola-nordmann&fnr=24031510135&utm_source=24031510135&utm_medium=24031510135&utm_campaign=24031510135" text="Ola Nordmann" /></p>
    <p>FNR er i meta name og description formattert slik "23031510135" isteden for "240315 10135".</p>
</Layout>