---
import Layout from '../layouts/corelayout.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<Layout title="Om Astro">
	<h1>Om Astro</h1>
	<a href="/">Hjem</a>
</Layout>
