---
import Layout from '../layouts/corelayout.astro';
---

<Layout title="Om Lekk" description="Utviklet av Team ReserchOps for å teste hvordan analyseverktøy håndterer syntetisk persondata på avveie">
    <h1>Utforsk</h1>
    <div class="max-w-2xl"
         id="metrics-data"
         hx-get="https://reops-proxy.intern.nav.no/umami/v2/api/websites/0a0bc436-1eac-45ac-81ab-697ab77ebec1/metrics?range=days&unit=day&timezone=Europe%2FOslo&type=query&search=q"
         hx-trigger="load"
         hx-swap="innerHTML"
         hx-ext="client-side-templates"
         nunjucks-template="metricsTemplate"
    ></div>

    <script id="metricsTemplate" type="nunjucks">
        <table class="table-auto w-full border-collapse border border-gray-200">
            <thead>
                <tr>
                    <th class="border border-gray-200 px-4 py-2">Query</th>
                    <th class="border border-gray-200 px-4 py-2">Count</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                    {% if item.x.trim() != 'q=' %}
                        <tr>
                            <td class="border border-gray-200 px-4 py-2">{{ item.x.startsWith('q=') ? item.x.slice(2) : item.x }}</td>
                            <td class="border border-gray-200 px-4 py-2">{{ item.y }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </script>
</Layout>