---
import { Search } from "@navikt/ds-react";
import Layout from '../layouts/corelayout.astro';
import AkselAlert from "../components/mixed/AkselAlert.tsx";
import AkselLink from '../components/mixed/AkselLink.astro';
import Analyticsdetails from "../components/mixed/analyticsdetails.astro";
---

<Layout title="Event">
	<h1>Søk (fritekstfelt)</h1>

	<form id="search-form" role="search" class="mb-6 max-w-xl">
		<Search client:load
			label="Søket logges til Amplitude og Umami"
			variant="primary"
			id="search-input"
			hideLabel={false}
		/>
	</form>

	<AkselAlert client:load />

	<p class="mt-8 font-semibold">Fiktive data</p>
	<ul class="list-inside list-disc mt-4 leading-relaxed">
		<li><AkselLink target="_blank" href="https://norske-testdata.no/fiktivt-fnr/" text="Fiktive fødselsnummer" /></li>
		<li><AkselLink target="_blank" href="http://navngen.no/" text="Navnegenerator" /></li>
	</ul>

	<p class="mt-8 font-semibold">Finn i loggen</p>
	<ul class="list-inside list-disc mt-4 leading-relaxed">
		<li><AkselLink target="_blank" href="https://app.eu.amplitude.com/analytics/nav/chart/e-xlg67v1d" text="Finn i Amplitude" /></li>
		<li><AkselLink target="_blank" href="https://umami.ansatt.nav.no/share/pYHYL85MeTxivZtg/leak.ansatt.nav.no?view=query" text="Finn i Umami" /></li>
	</ul>

	<Analyticsdetails />
</Layout>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const form = document.getElementById('search-form');
		const input = document.getElementById('search-input');

		if (form && input) {
			form.addEventListener('submit', (event) => {
				event.preventDefault();
				// @ts-ignore
				const query = input.value;
				const searchParams = new URLSearchParams(window.location.search);
				searchParams.set('q', query);
				window.location.href = `?${searchParams.toString()}`;
			});
		}
	});
</script>