---
// Utforsk.astro
import Layout from '../src/layouts/corelayout.astro';
import MetricsTable from '../src/components/mixed/MetricsTable.astro';
import fetchMetrics from '../src/components/fetchMetrics.js';
---

<Layout title="Om Lekk" description="Utviklet av Team ReserchOps for å teste hvordan analyseverktøy håndterer syntetisk persondata på avveie">
    <h1>Utforsk</h1>
    <MetricsTable metrics={metrics} />
</Layout>

<script>
    let metrics;

    (async () => {
        metrics = await fetchMetrics();
    })();
</script>

<style>
    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
</style>