---
import { Search } from "@navikt/ds-react";
import AlertComponent from "./alert.tsx";
---

<form id="search-form" role="search" class="mb-6">
    <Search
            label="Teksten du skriver inn logges til Amplitude og Umami når du søker"
            variant="primary"
            id="search-input"
            hideLabel={false}
    />
</form>

<AlertComponent client:load />



<script>
    document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('search-form');
        const input = document.getElementById('search-input');

        if (form && input) {
            form.addEventListener('submit', (event) => {
                event.preventDefault();
                const query = input.value;
                const searchParams = new URLSearchParams(window.location.search);
                searchParams.set('q', query);
                window.location.href = `?${searchParams.toString()}`;
            });
        }
    });
</script>