---
import Layout from '../../../layouts/corelayout.astro';
---

<Layout title="Ola Nordmann (fnr: 230315 10135)" description="Profilside Ola Nordmann (fnr: 240315 10135)">
    <h1>Profilside for Ola Nordmann</h1>
    <p class="max-w-prose">Dette er profilen til Ola Nordmann med fødselsnummeret 240315 10135.</p>
</Layout>